html, body{
    padding: 0;
    margin: 0;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    background-color: #202020;
    transition: background-color 1s;
    transition-timing-function: easeOutCirc();
    height: 100%;
    touch-action: manipulation;
}
.container{
    margin:0;
    padding:0;
    display: flex;
    align-items: center;
    justify-content: center;
}
#scene{
    opacity: 42%;
    transition: opacity 1s;
    filter: drop-shadow(1vmin 1vmin 2vmin rgba(0,0,0,0.5));
    outline: 0;
    border-color: #202020;
    position: relative;
    transition: border-color 0.5s, background-color 0.5s;
    transition-timing-function: easeOutCirc();
    transition-delay: 0.25s;
}
.block{
    display: inline-block;
}
.label{
    font-size: 3vmin;
    line-height: 4vmin;
    padding-top: 0.5vh;
    width: 24%;
}
.label span{
    display: block;
}
.top{
    top: calc(11vh - 5vmin);
}
.bottom{
    bottom: 5vmin;
}
.right{
    margin-left: auto;
}
.side-panel {
    position: absolute;
    width: min(60vh, 80vw);
    text-align: center;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
    opacity: 0.75;
    height:11vmin;
    display: flex;
    color: white;
}

#seedlink{
    align-self:center;
    margin: 3vh 0 3vh 0;
    font-size: 2.5vh;
    display:inline-block;
    padding: 1vmin;
    color: white!important;
    text-decoration: none;
    transition: background-color 0.5s;
    transition-timing-function: easeInCirc();
    border-radius: 1vmin;
}
#seedlink:hover{
    text-decoration: underline;
    background-color: rgba(20,20,20,0.8);
}
#seed{
    font-family: monospace;
}

.side-panel h1 {
    margin: 1vmin 0;
}
.logo{
    font-family: sans-serif;
    font-weight: normal;
    display: block;
    text-transform: capitalize;
    letter-spacing: 0em;
    line-height: 0;
    font-size: 6vh;
    align-self: center;
    font-kerning: auto;
    margin-bottom: 4.5vmin;
    font-style: italic;
}
.side-panel.top{
    padding: 5px;
    flex-direction: column;
    justify-content: center;
}
.logo span{
    display: inline-block;
}
.side-panel{
    text-shadow: 0px 0px 8px hsla(0,0%,0%,0.84);
}

.button{
    padding: 0 1vmin;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border:0;
    border-radius: 2vmin;
    text-shadow: 0 0.25vh 0.45vh hsla(0,0%,0%,0.05);
    background-color: rgba(20,20,20,0);
    color: white;
    text-align: center;
    filter: drop-shadow(0 0.5vh 0.75vh rgba(0,0,0,0.33));
    transition: background-color 0.5s;
    transition-timing-function: easeInCirc();
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
    cursor: pointer;
    font-weight: bold;
    font-size: 3vmin;
    text-decoration: none;
    z-index: 1;
}
.button:hover{
    background-color: rgba(20,20,20,0.85);
}
.button .icon{
    font-size: 6vmin;
}
.button span{
    display:inline-block;
    padding: 1vmin;
}
#randomize{
    position: absolute;
    top: 1vh;
    left: 1vh;
}

#help{
    position: absolute;
    left: 1vh;
    bottom: 5vmin;
    display:none;
}
#undo{
    position: absolute;
    top: 1vh;
    right: 1vh;
    
}

.button:hover .text{
    display: inline-block;
}
.button .text{
    display: none;
}

.side-panel.bottom:hover #submit{
    opacity: 100%;
}
#submit {
    opacity: 0%;
    transition: opacity 1s;
    cursor: pointer;
    position: absolute;
    top:0;
    left:0;
    bottom:0;
    top:0;
    width: 100%;
    height: 100%;
    padding: 0;
}
.side-panel.top{
    background-color: rgba(255,255,255,0.0);
    border-radius:  2vmin;
    text-shadow: 0px 2px 8px hsla(0,0%,0%,0.44);
}
.logo, .black, .label{
    color: white;
}
.white, .label span{
    color: white;
    font-weight: bold;
    font-style: normal;
}
.side-panel.bottom{
    border-radius: 2vmin;
    text-shadow: 0px 2px 6px hsla(0,0%,0%,1);
    background-color: rgba(0,0,0,0.1);
}
.side-panel.bottom{
    justify-content:center;
}